*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  font-family: 'Noto Sans SC', Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

code, kbd, .line-number {
  font-family: 'CaskaydiaCove Nerd Font', 'Noto Sans SC', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}
